PROJECT_NAME=musical-genres-rag
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=musical_genres
REDIS_HOST=localhost
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
UI_BASE_URL=http://localhost:8501
API_BASE_URL=http://localhost:8000
